header {
  background: black;
  color: white;
  padding-top: 30px;
  font-size: 1em;
  text-align: center;
}

header a {
  color: #ffff;
  padding: 5px;
  text-decoration: none;
}

#nav {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 30px;
}
